{% extends 'index_new.html' %}

{% block content %}
<div class="page_register">
    <div class="block_coming">
        <h1>COMING SOON ...</h1>
    </div>
</div>

<style>
    .page_register{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .block_coming{
        background: rgba(0, 0, 0, 0.6);
        padding: 20px 15px;
        margin: 65px 0px 85px;
        width: 70%;
        margin-left: auto;
        border-radius: 10px;
    }
    .block_coming h1{
        font-family: 'Arsenal';
        padding: 25% 0px 25%;
        font-size: 50px;
        color: #ffffffb8;
        text-align: center;
    }

    body{
        height: 100vh!important;
    }


    @media screen and (max-width: 600px) {
        .block_coming{
            width: 100%;
        }
    }
</style>
{% endblock%}