{% extends 'index_new.html' %}

{% block content_main %}
<div class="container page_register">
    <div class="block_page_register">
        <h1>COMING SOON ...</h1>
    </div>
</div>

<style>
    .block_page_register{
      background: rgba(0, 0, 0, 0.6);
      width: 70%;
      float: right;
      padding: 15% 15px;
      border-radius: 10px;
      color: #ffffff;
      text-align: center;
      font-size: 25px;
    }
    .block_page_register h1{
        font-family: 'Roboto';
        opacity: 0.7;
    }
    .page_register{
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
    }
    
</style>
{% endblock%}