{% extends 'index_new.html' %}

{% block content_main %}
<div class="container">
    <div class="player">
        <div class="playlist">
            <div class="fileEntity"></div>
            <div class="fileEntity"></div>
            <div class="fileEntity"></div>
            <div class="fileEntity"></div>
            <div class="fileEntity"></div>
        </div>
    </div>
</div>    

<script>
'use strict';

const FILES = [
  "Chaconne Partita No2 BWV 1004 Hilary Hahn"
]

window.addEventListener('DOMContentLoaded', initHandlers);

function initHandlers() {
  let player = new Player(FILES);
  player.init();

  getByQuery('.player .controls .play_pause').addEventListener('click', player.play.bind(player));
  getByQuery('.player .controls .navigation_prev').addEventListener('click', player.playPrev.bind(player));
  getByQuery('.player .controls .navigation_next').addEventListener('click', player.playNext.bind(player));
  getByQuery('.player .controls .progress_bar_stripe').addEventListener('click', player.pickNewProgress.bind(player));
}

/**
 * Player class
 */

class Player {
  constructor(files) {
    this.current = null;
    this.status = 'pause';
    this.progress = 0;
    this.progressTimeout = null;
    this.files = FILES.map(name => {
      return {
        name: name
      }
    });
  }

  init() {
    let playlist = getByQuery('.playlist');

    this.files.forEach((f, i) => {
      let playlistFileContainer = createElem({
        type: 'div',
        appendTo: playlist,
        textContent: "Chaconne, Partita No. 2 BWV 1004 | Hilary Hahn Johann Sebastian Bach",
        class: 'fileEntity',
        handlers: {
          click: this.play.bind(this, null, i),
          progressBarMove: this.setProgress
        }
      });
      createElem({
        type: 'div',
        appendTo: playlistFileContainer,
        textContent: '--:--',
        class: 'fileEntity_duration',
      })
      let progressbarr = createElem({
          type: 'div',
          appendTo: playlistFileContainer,
          class: 'progress_bar'
      })
      let progressbarrstrip = createElem({
          type: 'div',
          appendTo: progressbarr,
          class: 'progress_bar_stripe'
      })
      let progressbarrcont = createElem({
          type: 'div',
          appendTo: progressbarrstrip,
          class: 'progress_bar_container'
      })
      createElem({
          type: 'div',
          appendTo: progressbarrcont,
          class: 'progress_bar_container_percentage',
      })
    });
  }

  loadFile(i) {
    let f = this.files[i];

    f.file = new Audio(prepareFilePath(f.name));

    f.file.addEventListener('loadedmetadata', () => {
      getByQuery('.playlist').children[i].children[0].textContent = prettifyTime(f.file.duration);
    });

    f.file.addEventListener('ended', this.playNext.bind(this, null, i));
  }

  play(e, i = this.current || 0) {
    if (!this.files[i].file) {
      this.loadFile(i);
    }

    let action = 'play';

    if (this.current == i) {
      action = this.status === 'pause' ? 'play' : 'pause';
      this.toggleStyles(action, i);
    } else if (typeof this.current !== 'object') {
      this.files[this.current].file.pause();
      this.files[this.current].file.currentTime = 0;
      this.toggleStyles(action, this.current, i);
    } else {
      this.toggleStyles(action, i);
    }

    this.current = i;
    this.status = action;
    this.files[i].file[action]();

    if (action == 'play') {
      this.setTitle(this.files[i].name);
      this.stopProgress();
      this.runProgress();
    } else {
      this.stopProgress();
    }
  }

  playNext(e, currentIndex) {
    let nextIndex = (currentIndex ? currentIndex : this.current) + 1;

    if (!this.files[nextIndex]) {
      nextIndex = 0;
    }

    this.play(null, nextIndex);
  }

  playPrev(e, currentIndex) {
    let prevIndex = (currentIndex ? currentIndex : this.current) - 1;

    if (!this.files[prevIndex]) {
      prevIndex = this.files.length - 1;
    }

    this.play(null, prevIndex);
  }

  setTitle(title) {
    getByQuery('.progress_bar_title').textContent = "Chaconne, Partita No. 2 BWV 1004 | Hilary Hahn Johann Sebastian Bach";
  }

  setProgress(percent = 0, cb) {
    getByQuery('.fileEntity-active .progress_bar_container_percentage').style.width = `${percent}%`;
    cb && cb();
  }

  countProgress() {
    let file = this.files[this.current].file;

    return (file.currentTime * 100 / file.duration) || 0;
  }

  runProgress(percent = 0) {
    let percentage = percent || this.countProgress();
    let cb = percent ? () => {
      this.files[this.current].file.currentTime = percentage * this.files[this.current].file.duration / 100;
    } : null;

    this.setProgress(percentage, cb);
    this.progressTimeout = setTimeout(this.runProgress.bind(this), 1000)
  }

  stopProgress() {
    clearTimeout(this.progressTimeout);
    this.progressTimeout = null;
  }

  pickNewProgress(e) {
    if (this.status != 'play') {
      this.play();
    }

    let coords = e.target.getBoundingClientRect().left;
    let progressBar = getByQuery('.progress_bar_stripe');
    let newPercent = (e.clientX - coords) / progressBar.offsetWidth * 100;

    this.stopProgress();
    this.runProgress(newPercent);
  }

  toggleStyles(action, prev, next) {
    let prevNode = getByQuery('.playlist').children[prev];
    let nextNode = getByQuery('.playlist').children[next];
    let playPause = getByQuery('.play_pause .play_pause_icon');

    if (!next && next !== 0) {
      if (!prevNode.classList.contains('fileEntity-active')) {
        prevNode.classList.add('fileEntity-active');
      }
      playPause.classList.toggle('play_pause-play');
      playPause.classList.toggle('play_pause-pause');
    } else {
      prevNode.classList.toggle('fileEntity-active');
      nextNode.classList.toggle('fileEntity-active');
    }

    if (playPause.classList.contains('play_pause-play') && action == 'play' && prev != next) {
      playPause.classList.toggle('play_pause-play');
      playPause.classList.toggle('play_pause-pause');
    }
  }
}

/**
 * Utils
 */

function prepareFilePath(name) {
  return `./files/${name}.mp3`;
}

function getByQuery(elem) {
  return typeof elem === 'string' ? document.querySelector(elem) : elem;
}

function prettifyTime(time) {
  let minutes = ~~((time % 3600) / 60);
  let seconds = ~~(time % 60);

  return `${parseInt(minutes / 10)}${minutes % 10}:${parseInt(seconds / 10)}${seconds % 10}`;
}

function createElem(config) {
  let element = document.createElement(config.type);

  config.class && (element.className = config.class);
  config.id && (element.id = config.id);
  config.textContent && (element.textContent = config.textContent);
  config.handlers && 
    Object.keys(config.handlers).length &&
    Object.keys(config.handlers).forEach(key => {
      element.addEventListener(key, config.handlers[key])
    })
  config.appendTo && config.appendTo.appendChild(element);

  return element;
}
</script>

<style>
.controls .progress_bar{
    display: flex;
    align-items: center;
}
.fileEntity .progress_bar{
    float: right;
} 
.player {
    width: 70%;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 30px 0px 30px auto;
}
.controls {
  height: 48px;
  margin-bottom: 15px;
  padding: 0 15px;
  color: white;
}
.play_pause {
  position: relative;
  float: left;
  width: 50px;
  height: 100%;
  opacity: 0.9;
}
.play_pause_icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #577ca1;
}
.play_pause-play {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2229%22%20viewBox%3D%220%200%2028%2029%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11.8%2019.9C11.4%2020.2%2011%2020%2011%2019.5L11%208.5C11%208%2011.4%207.8%2011.8%208.1L19.5%2013.6C19.9%2013.8%2019.8%2014.2%2019.5%2014.4L11.8%2019.9Z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.play_pause-pause {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2229%22%20viewBox%3D%2236%200%2028%2029%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M46%208.6C46%208.3%2046.3%208%2046.6%208L48.4%208C48.7%208%2049%208.3%2049%208.6L49%2019.4C49%2019.7%2048.7%2020%2048.4%2020L46.6%2020C46.3%2020%2046%2019.7%2046%2019.4L46%208.6ZM51%208.6C51%208.3%2051.3%208%2051.6%208L53.4%208C53.7%208%2054%208.3%2054%208.6L54%2019.4C54%2019.7%2053.7%2020%2053.4%2020L51.6%2020C51.3%2020%2051%2019.7%2051%2019.4L51%208.6Z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.play_pause:hover {
  cursor: pointer;
  opacity: 1;
}
.navigation {
  float: left;
  width: 70px;
  height: 100%;
}
.navigation_prev {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  opacity: 0.9;
}
.navigation_prev_icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
  width: 9px;
  background-position: 50%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%229%22%20height%3D%2210%22%20viewBox%3D%2240%209%209%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M42%2013.05V9.5c0-.27-.2-.5-.5-.5h-1c-.27%200-.5.23-.5.5v9c0%20.27.2.5.5.5h1c.27%200%20.5-.23.5-.5v-3.55l6.15%203.9c.47.3.85.1.85-.45V9.6c0-.55-.38-.75-.85-.45L42%2013.05z%22%20fill%3D%22%235E80A7%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}
.navigation_prev:hover {
  cursor: pointer;
  opacity: 1;
}
.navigation_next {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  opacity: 0.9;
}
.navigation_next_icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
  width: 9px;
  background-position: 50%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%229%22%20height%3D%2210%22%20viewBox%3D%2259%209%209%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M66%2013.05V9.5c0-.27.2-.5.5-.5h1c.27%200%20.5.23.5.5v9c0%20.27-.2.5-.5.5h-1c-.27%200-.5-.23-.5-.5v-3.55l-6.15%203.9c-.47.3-.85.1-.85-.45V9.6c0-.55.38-.75.85-.45l6.15%203.9z%22%20fill%3D%22%235E80A7%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}
.navigation_next:hover {
  cursor: pointer;
  opacity: 1;
}
.progress_bar {
  float: left;
  width: calc(80% + 20px);
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.progress_bar_title {
  max-width: 276px;
}
.progress_bar_stripe {
  float: left;
  height: 22px;
  width: 100%;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}
.progress_bar_stripe:hover {
  cursor: pointer;
}
.progress_bar_container {
    height: 100%;
    /* background-color: #b8c7d7; */
    border-bottom: 2px dotted #b8c7d7;
}
.progress_bar_container_percentage {
    height: 100%;
    width: 0;
    /* background-color: #577ca1; */
    border-bottom: 2px solid #b8c7d7;
    z-index: 12;
}
.playlist {
  color: white;
}
.fileEntity {
  padding: 12px;
  margin: 3px;
}
.fileEntity_duration {
  float: right;
  width: 30px;
}
.fileEntity:hover {
  cursor: pointer;
  background-color: rgba(123, 123, 123, 0.2);
}
.fileEntity-active {
  background-color: rgba(123, 123, 123, 0.2);
  transition: 0.3s all ease;
}
</style>
{% endblock %}

