{% extends 'index_new.html' %}

{% block content %}
    <div class="page_home">
        <div class="play_list">
            <a class="link_contest" href="{% url 'about' %}">RUMI CONTEST >>>>></a>

            {% for musiks in musik_posts %}
            <a href="{{ musiks.get_absolute_url }}" class="block_music" data-title="Текст песни">
                <div class="music_tittle">
                    {{ musiks.author_sound }}<br>
                    {{ musiks.title }}  
                </div>
                <div class="dot">

                </div>
                <div class="music_time">
                    {{ musiks.play_time }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>


    <style>
a.link_contest{
    font-family: 'Roboto'!important;
    color: #ffffff;
    padding: 9px;
    font-weight: bold;
    display: block;
}

.link_contest{
    margin-bottom: 25px;
}

.block_music:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    right: 1px;
    top: 1px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }

        .block_music:hover{
            color: white;
            background-color: rgba(123, 123, 123, 0.2);
        }

        .page_home{
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .play_list{
            width: 70%;
            background: rgba(0, 0, 0, 0.6);
            padding: 20px 15px;
            border-radius: 10px;
            margin-left: auto;
        }

        .block_music{
            display: flex;
            color: white;
            margin-bottom: 4px;
            padding: 9px;
            position: relative;
        }

        .music_tittle{
            min-width: 150px;
        }

        .dot{
            display: block;
            width: 100%;
            border-bottom: 1px dotted;
            margin: 0px 25px;
            margin-bottom: 8px;
        }

        .music_time{
            align-self: flex-end;
        }
    </style>
{% endblock %}

