{% extends 'index_new.html' %}

{% block content %}
<h1 class="title_sound">{{ musiks.title }}</h1>

<p class="text_sound">
    {% autoescape off %}
        {{ musiks.sound_text }}
    {% endautoescape %}
</p>

<style>
    .logo a {
        background-image: url(/../static/assets/media/logo.svg)!important;
        background-repeat: no-repeat;
    }

    .title_sound{
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .text_sound{
        color: white;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 15px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: .25rem;
    }

    .dropbtn {
        background: url(/../static/assets/media/burger.png)!important;
        background-repeat: no-repeat!important;
        background-size: 25px!important;
        background-position: center center!important;
    }

    @media screen and (max-width: 600px){
        .title_sound {
            text-align: center;
            color: white;
            font-weight: bold;
            margin-top: 28px;
        }
    }

</style>
{% endblock %}
