{% extends 'index_new.html' %}

{% block content_main %}
    
        <div class="page_about">
            <div class="block_left">
                <div class="bc block_about">
                    <p>about</p>
                </div>
                <div class="bc behavior_rules">
                    <p>Правила проведения Rumi-Contest 2021:<br>
                    1 - Видео запись музыкального выступления в формате open air  без использования минусовой фонограммы<br>
                    2 - Регистрация на портале harmused.com, заполнение профиля<br>
                    участника и загрузка конкурсного видео контента<br>
                    3 - Принятие участия в борьбе за призовой фонд></p>
                </div>
                
                
            </div> 
            <div class="block_right">
                <div class="bc dox">
                    <p>docx <span>(дорабатывается)</span>></p>
                </div>
                <div class="bc provisions">
                    <a href="#">положение о проведении конкурса.docx</a><br>
                    <a href="#">нормативно правовые акты.docx</a>
                </div>
            </div>  
        </div>
   

<style>
.bc{
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 15px;
}
.block_about{
    text-align: center;
}
.dox{
    text-align: center;
}
.page_about{
    display: flex;
    color: white;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.block_right{
    display: flex;
    flex-direction: row;
    width: 70%;
}
}
.provisions a{
    color: white;
}

.block_left{
    display: flex;
    
}
</style>
{% endblock %}

