{% extends 'index_new.html' %}

{% block content %}
    <div class="page_about">
        <div class="row_one">
            <div class="bc block_about">
                <p>about</p>
            </div>
            <div class="bc block_ruleCondect">
                <p>
                    Правила проведения Rumi-Contest 2021:<br>
                    1 - Видео запись музыкального выступления в формате open air без<br> использования минусовой фонограммы<br>
                    2 - Регистрация на портале harmused.com, заполнение профиля<br>
                    участника и загрузка конкурсного видео контента<br>
                    3 - Принятие участия в борьбе за призовой фонд
                </p>
            </div>
        </div>
        <div class="row_two">
            <div class="bc block_docx">
                <p>docx<br>(дорабатывается)</p>
            </div>
            <div class="bc block_competition">
                <a href="#">положение о проведении конкурса.docx</a><br>
                <a href="#">нормативно правовые акты.docx</a>
            </div>
        </div>
    </div>

    <style>
        .block_contest{
            display: block!important;
        }

        .menu-block{
            display: none!important;
        }
        .block_contest a{
            color: white;
            font-weight: bold;
            padding: 6px 12px;
        }

        .block_contest a:hover{
            text-decoration: none;
            background-color: rgba(123, 123, 123, 0.2);
            border-radius: .25rem;
        }

        .block_contest .song {
    display: flex;
    color: #fff;
    margin: 0px 20px;
    font-size: 10px;
    align-self: flex-end;
}

        .block_contest .auth {
            padding: 7px 50px;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 25px;
            cursor: pointer;
            font-size: 14px;
        }

        .block_contest{
            width: 70%;
            background: rgba(0, 0, 0, 0.6);
            display: flex!important;
            align-items: center;
            padding: 20px 15px;
            justify-content: space-between;
            border-radius: 10px;
            align-self: baseline;
            margin-left: auto;
        }
        .page_about{
            margin: 65px 0px 85px;
        }
        .block_ruleCondect{
            width: 60%;
        }
        .block_competition{
            width: 60%;
        }
        .block_about{
            width: 18%;
            max-height: 130px;
            text-align: center;
        }
        .block_about p{
            margin: 0px;
        }
        .block_docx{
            width: 18%;
            text-align: center;
        }
        .bc{
            padding: 20px 15px;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 10px;
            color: #fff;
            font-size: 25px;
        }

        .bc p{
            margin-bottom: 0px;
        }

        .bc a{
            color: white;
        }

        .row_one{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .row_two{
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
        }

        body{
            background: url(../../static/assets/media/bg_about.png) no-repeat center;
            display: flex;
            flex-direction: column;
            background-size: cover!important;
        }

        .logo a{
	        background-image: url(../../static/assets/media/logo_about.png)!important;
	        background-repeat: no-repeat;
            background-size: contain;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 10px!important;
            text-decoration: none;
        }

        @media screen and (max-width: 1145px) {
            .block_contest{
                display: none!important;
            }

            #myDropdown .dropdown{
                display: none;
            }
            #myDropdown .contest_item_link{
                display: block!important;
            }
            .contest_info{
                display: flex;
            }
        }

        @media screen and (max-width: 850px) {
            .row_one {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
            }

            .block_about{
                margin-bottom: 40px;
            }

            .row_two {
                display: flex;
                justify-content: space-around;
                margin-top: 40px;
                flex-direction: column;
                align-items: center;
            }

            .block_docx {
                width: 35%;
                text-align: center;
                margin-bottom: 40px
            }

            .block_ruleCondect {
                width: 100%;
            }

            .block_competition {
                width: 100%;
            }
        }

        @media screen and (max-width: 600px){
            footer {
                background: rgba(0, 0, 0, 0.6);
            }
            .block_about{
                width: auto;
            }
            .block_docx{
                width: auto;
            }

            .dropdown-item {
            display: block!important;
            }
        }
    </style>
{% endblock %}

